# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Виртуальные окружения
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Логи и базы данных
*.log
*.sqlite3

# Кэш PyCharm
/.cache/
/.idea_modules/

.env
alembic.ini
